<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EasyMall</display-name>
  <welcome-file-list>
    <welcome-file>/EasyMallPage/index/index.html</welcome-file>
    <welcome-file>/EasyMallPage/index/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/EasyMallPage/regist/regist.html</welcome-file>
    <welcome-file>/EasyMallPage/regist/regist.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 配置HttpSessionListener监听器 -->
	<listener>
		<listener-class>listener.MyHttpSessionListener</listener-class>
	</listener>
	
	<!-- 配置ServletContextListener监听器 -->
 	<listener>
 		<listener-class>listener.MyServletContextListener</listener-class>
	</listener>
 
  <context-param>
  	<param-name>encode</param-name>
  	<param-value>utf-8</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ValiImageServlet</servlet-name>
	<servlet-class>servlet.ValiImageServlet</servlet-class>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValiImageServlet</servlet-name>
  	<url-pattern>/servlet/ValiImageServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProInfoServlet</servlet-name>
  	<servlet-class>servlet.ProInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProInfoServlet</servlet-name>
  	<url-pattern>/servlet/ProInfoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductImgServlet</servlet-name>
  	<servlet-class>servlet.ProductImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductImgServlet</servlet-name>
  	<url-pattern>/servlet/ProductImgServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductListServlet</servlet-name>
  	<servlet-class>servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductListServlet</servlet-name>
  	<url-pattern>/servlet/ProductListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CartAddServlet</servlet-name>
  	<servlet-class>servlet.CartAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CartAddServlet</servlet-name>
  	<url-pattern>/servlet/CartAddServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AjaxUpdateBuyNumServlet</servlet-name>
  	<servlet-class>servlet.AjaxUpdateBuyNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AjaxUpdateBuyNumServlet</servlet-name>
  	<url-pattern>/servlet/AjaxUpdateBuyNumServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>OrderAddServlet</servlet-name>
  	<servlet-class>servlet.OrderAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderAddServlet</servlet-name>
  	<url-pattern>/servlet/OrderAddServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>OrderListServlet</servlet-name>
  	<servlet-class>servlet.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderListServlet</servlet-name>
  	<url-pattern>/servlet/OrderListServlet</url-pattern>
  </servlet-mapping>
</web-app>